*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}
.Head{
display: flex;
width: 95%;
margin: auto;
}
h2{
    color: red;
    margin-top: 15px;
}
em{
    color:white;
    font-style: normal;
}
input{
   margin-left: 30px;
   margin-top: 15px;
   width: 80vh;
   border-radius: 15px;
  outline: none;
  padding-left: 30px;
}
button{
    background-color: red;
    border-radius: 30px;
    width: 12vh;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: white;
    font-size: bold;
}
a:hover{
    color: black;
}
ol{
    padding-left: 180px;
    margin-top: 15px;
    display: flex;
}
.class{
    margin: 5px;
}
.class:hover{
  color: red;  
}
h3{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
p{
    color: white;
    text-align: center;
}
.Download{
    margin-left: 700px;
    width: 20vh;
    height: 7vh;
}
h4{
    color: white;
    margin-left: 120px;
    padding-top: 18px;
    font-weight: bold;
}
section{
    background-color: rgb(55, 54, 53);
    width: 55vh;
    height: 80vh;
    margin-left: 600px;
}
.text{
    width: 50vh;
    margin: 12px;
    border-radius: 5px;
    height: 7vh;
    padding-left: 10px;
}
.interaction{
    margin-left: 140px;
    border-color: transparent;background-color: green;
    width: 15vh;
}
.create{
    margin-left: 50px;
    width: 40vh;
    background-color: green;
    border-color: transparent;
}
.Ads{
    background-color: rgb(76, 74, 74);
    width: 95%;
    margin: auto;
    height: 18vh;
    padding-top: 10px;
}
.but{
    padding-left: 500px;
}